# General
__pycache__/
*.py[cod]
*$py.class
*.so
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
.venv/
.env

# IDEs
.vscode/
.idea/

# Backend Data
backend/data/*
!backend/data/.gitkeep
backend/site_packages/

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/